.Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00509b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 3rem;
    z-index: 10;
    
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.Header h1{
    font-size: 1.5em;
    font-weight: bold;
}

.Header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 4rem;

}

.Header ul li {
    margin-left: 1.2rem;
}

.search{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    padding: .4rem;
    border-radius: 4px;
}

.search input{
    padding: .4rem 1rem;
    width: 85%;
    border: none;
}

.search input:focus{
    border: none;
}

.search input:active{
    border: none;
}

.search input:hover{
    border: none;
}

.searchImage{
    width: 30px;
    height: 30px;
}

.profil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;

}

.image_log {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}