/* styles/AddEmployeeForm.module.css */

.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container h2 {
  font-weight: bold;
  font-size: 1.8em;
  margin: 2rem 0;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.container button[type="button"] {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  width: 10rem;
  cursor: pointer;
  border: none;
}
.container button[type="button"]:hover {
  background-color: #0056b3;
}

.container button {
  background-color: #c0c1c2;
  color: #000000;
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  width: 10rem;
  cursor: pointer;
  border: none;
}

.btnR:hover,
.container button:hover {
  background-color: #9e9e9e;
}

.container form {
  background-color: #fff;
  margin: 1rem 0;
  padding: 2rem;
}

.container label {
  display: grid;
  grid-template-columns: 290px 700px;
  align-items: center;
}

.container input,
.container select {
  padding: 8px;
  background-color: rgb(238, 238, 238);
  border: none;
  margin-bottom: 10px;
}
