/* styles/AddEmployeeForm.module.css */

.container {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.container form {
overflow: hidden;
}

.container label {
  display: block;
  margin-bottom: 5px;
}

.container input,
.container select {
  width: 100%;
  padding: 8px;
  background-color: rgb(238, 238, 238);
  border: none;
  margin-bottom: 10px;
}

.container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}
