


.body {
  font-family: 'Arial', sans-serif;
 /* Couleur de fond légère, ajustez-la selon vos besoins */
  color: #333; /* Couleur du texte, ajustez-la selon vos besoins */
 
}

.button_content{
  display: flex;
  justify-content: space-between;
}

/* General button style */
.button {
  padding: 10px 15px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Example blue color, adjust the color code to match your design */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Active button style */
.button.active {
  background-color: #0056b3; /* Darker shade to indicate active state */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: add a shadow to active button */
}

/* Container for the buttons for additional styling if needed */
  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
 
